* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

i {
  font-size: 18px;
  color: #333;
}

::placeholder {
  color: #9c9c9c;
  font-style: italic;
}

.container {
  background-color: #fff;
  margin-top: 100px;
  width: 800px;
  border: 1px solid #f6f6f6;
  border-radius: 4px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.create-todo .todo-head {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f6f6f6;
}

.create-todo .todo-body {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create-todo .todo-body input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border: none;
  outline: none;
}

.todos-body ul li button {
  position: absolute;
  right: 0.5%;
  border: none;
  cursor: pointer;
  color: #333;
  margin-right: 10px;
}

.create-todo .todo-body button {
  border: none;
  background-color: #fff;
  cursor: pointer;
  font-size: 15px;
}

.list-todos .deleteBtn {
  width: 100%;
  background-color: #f6f6f6;
  height: 50px;
  border: none;
  outline: none;
  font-size: 18px;
  color: #9c9c9c;
  cursor: pointer;
  border-top: 1px solid #f6f6f6;
}

.line {
  text-decoration: line-through;
}

.todos-body ul {
  width: 100%;
  padding: 0;
}

.todos-body ul li {
  border-bottom: 1.5px solid #f6f6f6;
  border-top: 1.5px solid #f6f6f6;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
}

.todos-body ul li span {
  padding-left: 10px;
  color: #9c9c9c;
}

.text-box {
  width: 100%;
  margin: auto 5% !important;
}

.todos-body ul li input:focus {
  background-color: #fff3c3;
}

.input-element {
  border: none;
  outline: none;
  width: 100%;
  padding-left: 10px;
}

.change-color {
  background-color: #fff3c3;
}
